<div class="modal">
	<div class="video">
		<iframe width="{{width}}" height="{{height}}" src="//www.youtube.com/embed/{{id}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
		<button type="button" class="close">Retourner au jeu</button>
    </div>
</div>